<div class="container">
    <div class="blockContainers">
        <div class='title'>
            <p>Contacto</p>
        </div>
        <div class="blockContainers blockContainerInside">
            <div class="namesContainer">
                <div style="margin:5px">
                    <p class='formTitle'>Your name:</p>
                    <input type="text" pInputText>
                </div>
                <div style="margin:5px">
                    <p class='formTitle'>‎</p>
                    <input type="text" pInputText>
                </div>
            </div>
            <div>
                <p class='formTitle'>Email Address:</p>
                <input type="text"  style="width:420px;"pInputText>
            </div>
            <div>
                <p class='formTitle'>Phone:</p>
                <input type="text" style="width:420px;"  pInputText>
            </div>
            <div>
                <p class='formTitle'>Message:</p>
                <input type="text" class="p-inputtext-lg" style="height:100px; width:420px;" pInputText>
            </div>
            <div class="buttonSubmit">
                <button pButton pRipple type="button" label="Warning" class="p-button-outlined whiteButton"  label="Submit" icon="pi pi-arrow-right" iconPos="right"
                href = "mailto: abc@example.com"
                ></button>
                <!-- <p-button  label="Submit" icon="pi pi-arrow-right" iconPos="right"></p-button> -->
            </div>
        </div>
    </div>
</div>