<div class="containersHolder">
    <div class="topContainer">
        <div class="thirdPlaceHolder PodiumPlaceHolders">
            <img src="../../../assets/images/grinning-cat-with-smiling-eyes_1f638.png" class="avatarPodium">
            <div class="secondPlace podium">
                <img src="../../../assets/images/Podium_Icon_2.png" class="podiumImage">
                <div class="podiumText">
                    <p>Owner_2</p>
                    <p>50pts</p>
                </div>

            </div>
        </div>
        <div class="thirdPlaceHolder PodiumPlaceHolders">
            <img src="../../../assets/images/grinning-cat-with-smiling-eyes_1f638.png" class="avatarPodium">
            <div class="firstPlace podium">
                <img src="../../../assets/images/podium_Icon_1.png" class="podiumImage">
                <div class="podiumText">
                    <p>Owner_1</p>
                    <p>100pts</p>
                </div>
            </div>
        </div>

        <div class="thirdPlaceHolder PodiumPlaceHolders">
            <img src="../../../assets/images/grinning-cat-with-smiling-eyes_1f638.png" class="avatarPodium">
            <div class="thirdPlace podium">

                <img src="../../../assets/images/Podium_Icon_3.png" class="podiumImage">
                <div class="podiumText">
                    <p>Owner_3</p>
                    <p>10pts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomContainer">
        <div  *ngFor="let number of bottomRanking">
            <img src="../../../assets/images/grinning-cat-with-smiling-eyes_1f638.png" class="underPodiumAvatar">
            <div class="bottomPodiumText">
                <p>Owner_x</p>
                <p>10pts</p>
            </div>
        </div>

    </div>
</div>