.containerHolder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.blockContainers{
    width:45%;
    height: 90%;
    border-radius: 25px;   

}
.leftContainer{
    background-color:#AB92BF;

}
.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.taskContainer{
    width: 100%;
    background-color:#AB92BF;
    height: 15%;
}
.emojiContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emojiImg{
    align-self: center;
    height: 30%;
}