<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header></app-header>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!-- <mat-sidenav class='sidenav' #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [style.width.px]="200">
      <app-sidenav></app-sidenav>
    </mat-sidenav> -->
    <mat-sidenav-content style="padding:25px 50px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
