<div class="containersHolder">
  <div class="topContainer">
    <!-- <div class="thirdPlaceHolder PodiumPlaceHolders">
      <img src="{{secondPlace.image}}" class="avatarPodium">
      <div class="secondPlace podium">
        <img src="../../../assets/images/Podium_Icon_2.png" class="podiumImage">
        <div class="podiumText">
          <p>{{secondPlace.name}}</p>
          <p>{{secondPlace.points}}</p>
        </div>

      </div>
    </div> -->
    <!-- <div class="thirdPlaceHolder PodiumPlaceHolders">
      <img src="{{firstPlace.image}}" class="avatarPodium">
      <div class="firstPlace podium">
        <img src="../../../assets/images/podium_Icon_1.png" class="podiumImage">
        <div class="podiumText">
          <p>{{firstPlace.name}}</p>
          <p>{{firstPlace.points}}</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="thirdPlaceHolder PodiumPlaceHolders">
      <img src="{{thirdPlace.image}}" class="avatarPodium">
      <div class="thirdPlace podium">

        <img src="../../../assets/images/Podium_Icon_3.png" class="podiumImage">
        <div class="podiumText">
          <p>{{thirdPlace.name}}</p>
          <p>{{thirdPlace.points}}</p>
        </div>
      </div>
    </div>
  </div> -->
    <div class="rankingholder">
      <div class="blackboxholder">
        <div class="blackbox">
          <div>IMAGEM</div>
          <div>
            <div>Texto</div>
            <div>Pontos</div>
          </div>
        </div>
        <div class="blackbox">
          <div>IMAGEM</div>
          <div>
            <div>Texto</div>
            <div>Pontos</div>
          </div>
        </div>
        <div class="blackbox">
          <div>IMAGEM</div>
          <div>
            <div>Texto</div>
            <div>Pontos</div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="bottomContainer">
      <div *ngFor="let number of othersPlaces">
        <img src="{{number.image}}" class="underPodiumAvatar">
        <div class="bottomPodiumText">
          <p>{{number.name}}</p>
          <p>{{number.points}}</p>
        </div>
      </div>

    </div> -->
  </div>
